* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-box {
  height: 100vh;
  /* border: 2px solid red; */
  display: flex;
}
.main-box .left {
  width: 60vw;
}
.main-box aside {
  width: 40vw;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
}
.main-box .courses-carousel-container {
  height: 60vh;
}
.custom-course-image {
  width: 60vw;
  height: 60vh;
}
.main-box .videos-carousel-container {
  height: 40vh;
  /* border: 1px solid blue; */
}
.youtube-video {
  height: 40vh;
  width: 60vw;
}

fieldset {
  width: 350px;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 3px 3px 3px lightgray;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.success-stories-container {
  /* border: 5px solid red; */
  width: 60vw;
  min-height: 60vh;
  height: fit-content;
  margin: 10px auto;
  box-shadow: 5px 5px 3px lightgray !important;
  border-radius: 5px;
}
.custom-width {
  width: 320px;
}

.custom-image {
  width: 300px;
  height: 300px;
  aspect-ratio: 2/3;
  border-radius: 50%;
  margin: 0px auto;
  border: 5px solid lightgray;
  overflow: hidden;
}
.custom-image > img:hover {
  transform: scale(1.1);
  transition: 0.8s;
}

.success-card {
  width: inherit;
  height: inherit;
  padding: 10px;
}
.custom-shadow {
  box-shadow: 5px 5px 3px lightgray !important;
}

.carousel-control-prev-icon {
  background-image: none; /* Remove the default SVG icon */
  border: solid 2px yellow; /* Create a custom arrow icon */
  border-width: 2px 2px 0 0; /* Adjust arrow shape */
  display: inline-block;
  height: 16px;
  width: 16px;
  transform: rotate(-135deg);
  position: relative;
}
.carousel-control-next-icon {
  background-image: none; /* Remove the default SVG icon */
  border: solid yellow; /* Create a custom arrow icon */
  border-width: 2px 2px 0 0;
  display: inline-block;
  height: 16px;
  width: 16px;
  transform: rotate(45deg);
  position: relative;
}
/* media query for success stories  */
@media only screen and (max-width: 425px) {
  .success-stories-container {
    /* border: 5px solid red; */
    width: 95vw;
    min-height: 100vh !important;
    height: fit-content;
    margin: 10px auto;
    box-shadow: 5px 5px 3px lightgray !important;
    border-radius: 5px;
  }
}

/* media query for  main-box  */
@media only screen and (max-width: 425px) {
  .main-box {
    height: 150vh;
    /* border: 2px solid red; */
    flex-wrap: wrap;
  }
  .main-box .left {
    width: 100vw;
    height: 100vh;
    /* background-color: lightcoral; */
  }
  .main-box aside {
    width: 100vw;
    height: 50vh;
    background-color: green;
  }
  .main-box .courses-carousel-container {
    height: 50vh;

    /* border: 1px solid red; */
  }
  .main-box .videos-carousel-container {
    height: 50vh;
    /* border: 1px solid blue; */
  }
  .youtube-video {
    height: 50vh;
    width: 100vw;
  }
  .custom-course-image {
    width: 100vw;
    height: 50vh;
  }
}
